doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Commview For WIFI

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Commview For WIFI
 
      section(data-bespoke-hash='Pengertian')
        h2 Commview For WIFI
        h3 Pengertian
        p program untuk menangkap lalu lintas di jaringan 802.11a/b/gCommView untuk WiFi adalah edisi khusus yang dirancang untuk menangkap CommView dan menganalisa paket jaringan pada jaringan nirkabel 802.11a/b/g. CommView untuk WiFi mengumpulkan informasi dari adaptor nirkabel dan decode data yang dianalisis.Dengan CommView untuk WiFi Anda dapat melihat daftar koneksi jaringan IP dan statistik vital dan memeriksa paket individu.

      section(data-bespoke-state='Manfaat')
        h2 Commview For WIFI
        h3 Manfaat
        p Aplikasi ini mampu menampilkan informasi secara grafis yang akurat, selain itu juga mendukung labih dari 70 protokol yang dapat dianalisa.


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild