doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title CommView for WiFi

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 CommView for WiFi & Aircrack-ng
        h2 Network Monitor & Analyzer
        
      section
        ol.isi
          h3 Isi
          li
          li Memahami kegunaan pemakaian CV & Aircrack-ng.
          li Mempelajari cara pemakaian CV & Aircrack-ng.
          
      section
        ol.slide1
          h3 Apa itu CV?
          li
          li Aplikasi yang berguna untuk memantau jaringan wireless 802.11 a/b/g/n.
        ol.s1
          li <i>- Website resmi CommView for WiFi</i>

      section
        ol.slide2
            h3 Beberapa Kegunaan CV
            li
            li Memindai jaringan wireless local area yang aktif. 
            li Menampilkan data statistik koneksi : IP addresses, ports, sessions, ...
            li Laporan traffic koneksi internet secara real time.
            li Melihat jumlah penggunaan bandwidth.
            li ........
            
      section
        ol.slide3
          h3 Kegunaan Lainnya ...
          li
          li <i>"Menyalin Network Security Key WiFi"</i>.
        ol.s3
          li <i>- mods-n-hacks.wonderhowto.com</i>
          li <i>- tech-geeks007.blogspot.com</i>

      section
        ol
          h3 Bagaimana Prosesnya?
          li
          li Mendekripsi paket data <i>SSID</i> yang tertangkap oleh CV.
          li Crack WEP & WPA keys (WiFi Password) oleh Aircrack-ng.
          
      section
        ol
          h3 Pengenalan Singkat WEP & WPA Keys
          li
          li WEP
          li Enkripsi keamanan pertama (1999) pada jaringan wireless.
          li Menggunakan algoritma RC4 serta sebuah key bersifat statis untuk dikenal access point.
          li Terlalu lemah untuk standar keamanan jaringan wireless.
          li WPA
          li Penyempurnaan Sistem WEP.
          li Namun sudah menggunakan Protokol TKIP (<i>Temporal Key Integrity Protocol</i>).
          
      section
        ol.slide6
          h3 Persiapan
          li
          li Unduh kedua software (CommView for WiFi & Aircrack-ng) di website resminya :
        ol.s6
          li 1. CV bisa diunduh melalui <a href="http://www.tamos.com"><i>tamos.com</i>.</a> (sekaligus install driver wireless adapter)
          li 2. Aircrack-ng dapat diunduh melalui <a href="http://www.aircrack-ng.org"><i>aircrack-ng.org</i>.</a>
         
      section
        ol
          h3 Instalasi Commview for WiFi
          li
          li Download zip file dari situs resminya.
          li Extract file dan jalankan setup.exe (install CV).
          li Akan muncul Driver Installation Guide,
          li Ikuti perintah yang muncul dan install driver sesuai dengan wireless card anda.
      
      section
        h3 Tampilan Awal Commview for WiFi
        ol
          li
          li <img class='img' src="img/CV1.jpg"></img>
          
      section
        ol.slide9
          h3 Konfigurasi Awal (1) CV
          li
          li Lakukan konfigurasi awal CV dalam menangkap paket :
        ol.s9
          li 1. Berikan tanda centang pada bagian <i>Auto-saving</i> dalam <i>Logging</i> tab.
          li 2. Set ukuran <i>Maximum Directory Size</i> dengan 2000.
          li 3. Set ukuran <i>Average Log File Size</i> dengan 20.	

      section
        ol  
          h3 Konfigurasi Awal (2) CV
          li
          li Klik button Capture untuk memulai menangkap paket data.
          li Copy Mac Address SSID yang ingin dicrack WEP/WPA keys-nya.
          li Pada tab Rules, berikan tanda centang Enable MAC address rules dan Paste Mac Addressnya.
        
      section
        ol 
          h3 Langkah Penggunaan Berikutnya?
          li <i>Menunggu ...</i>
          li Tunggu sampai paket yang ditangkap mencapai minimal 100000 paket.
          li Save Log File (bereksistensi *.ncf).
          
      section
        h3 Gambar Paket Captured
        ol
          li
          li <img class='img' src="img/viewer.png"></img>
          
      section
        ol.slide13
          h3 Konversi File Captured 
          li 
          li 1. Buka Log Viewer dari tab File.
          li 2. Load Commview Log.
          li 3. Lanjut ke Go to -> Export Logs -> Pilih Wireshark tcpdump format.
          li 4. Save file (bereksistensi *.cap)
        ol.s13
          li Digunakan untuk crack WEP keys nantinya.
          
      section
        ol
          h3 Concatenate Logs
          li
          li Memiliki fungsi menggabungkan logs yang sudah disimpan.
          li Bertujuan menambah paket lama atau baru yang telah ditangkap.
          li Cocok digunakan apabila frekuensi dalam men-capture paket yang singkat.
          
      section
        h3 Ilustrasi Concatenate Logs
        ol
          li
          li <img class='img' src='img/IC_Logs.jpg'></img>
      
      section 
        ol
          h3 Pengertian Aircrack-ng
          li
          li Program yang khusus dikembangkan untuk crack WEP & WPA keys.
          li Tool yang paling powerful diantara Tool cracking WEP keys.
          
      section
        h3 Instalasi Aircrack-ng
        ol
          li
          li Download zip file Aircrack-ng dari website resminya.
          li Extract file dan pada folder bin, jalankan Aircrack-ng GUI.exe.

      section
        h3 Tampilan awal Aircrack-ng
        ol
          li
          li <img class='img' src="img/view.jpg"></img>
       
      section
        ol.slide19
          h3 Cracking WEP Keys
          li
          li 1. Pada Aircrack-ng GUI, pilih Key size 64 bits.
          li 2. Browse file dengan eksistensi *.cap yang sudah disimpan berupa hasil konversi paket data.
          li 3. Klik launch dan pada command line, input 1 pada index number yang diminta.
          li 4. Hasil cracking WEP keys selesai.
          
      section
        ol
          h3 Tampilan Cracked WEP Keys
          li
          li <img src="img/gambar.jpg"></img>
      
      section
        ol
          h3 Tampilan Uncracked WEP Keys
          li
          li <img src="img/view1.jpg"></img>
      section
        ol
          h3 Faktor Kegagalan Crack WEP Keys
          li
          li Faktor Utama
          li Sinyal paket dari jaringan wireless yang ditangkap tergolong rendah.
          li Faktor Pendukung
          li CV yang terinstall masih bersifat Evaluation Version.
          
      section
        ol
          h3 Pertanyaan?
        
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild